$bg-pink: #d2527f;
$bg-lighter: #fdfdfd;
$bg-light: #f4f5f7;

$primary: #3e444d;
$secondary: #f4f5f7;
$alt: #472ada;

//@at-root
$bgdark: #436fbc;
$bgdarkfont: rgb(0, 15, 92);

$bglight: #809fd4;
$bglightfont: rgb(32, 63, 116);

$buttonBorder: #48e7e9;

$bgclear: #d4d4d4;
$bgclearfont: rgb(116, 116, 116);
