// can import variables into components using:
// @import '@/assets/css/colors.scss';
// used in BEM

$pink: #d2527f;
$dark: #272b31;
$light: #f4f5f7;
$lighter: #fdfdfd;
//
$bg-pink: #d2527f;
$bg-dark: #272b31;
$bg-lighter: #fdfdfd;
$bg-light: #f4f5f7;

$primary: #3e444d;
$secondary: #f4f5f7;
$alt: #472ada;

//
$bgdark: #436fbc;
$bgdarkfont: rgb(0, 15, 92);

$bglight: #809fd4;
$bglightfont: rgb(32, 63, 116);

$buttonBorder: #48e7e9;

$bgclear: #d4d4d4;
$bgclearfont: rgb(116, 116, 116);
