// story
#story {
  background: $bg-lighter;
}
.story-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
  height: 50vh;
  min-height: fit-content;
  .pic {
    flex: 1 1 500px;
    background: url('../../assets/adam4.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 300px;
  }
  .intro {
    flex: 1 1 500px;
    background: $bg-lighter;
    color: $primary;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    > h2 {
      text-align: center;
      text-transform: capitalize;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: 0.2rem;
      color: $alt;
      &:before {
        content: '-';
      }
    }
    p {
      text-align: justify;
      text-align-last: center;
    }
  }
}

// works
#works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
  background: $bg-lighter;
  .my-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    color: $primary;
    h2 {
      flex: 1 1 200px;
      text-transform: capitalize;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: 0.2rem;
      color: $alt;
      &:before {
        content: '-';
      }
    }
    p {
      flex: 1 1 800px;
      padding-left: 1rem;
      text-align: center;
      a {
        color: $bg-pink;
        text-decoration: underline;
        text-decoration-color: transparent;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// scroll-wrapper
#scroll-wrapper {
  max-width: 1200px;
  padding: 0 2rem;
  .frame {
    padding: 2rem 2.5rem;
    text-align: center;
    height: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    img {
      cursor: pointer;
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 10px 5px $bg-pink;
      &:hover {
        transform: scale(1.1);
        overflow: hidden;
      }
    }
    h4 {
      padding-top: 1.5rem;
      color: $bg-pink;
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: transparent;
      &:hover {
        text-decoration: underline;
      }
    }
    h5 {
      color: $alt;
      text-transform: capitalize;
      font-variant: small-caps;
    }
    p {
      padding-top: 1.5rem;
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
    .skills-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .fa-icon {
        font-size: 2rem;
        margin: 0.1rem 0.4rem;
      }
    }
  }
  .swiper-pagination-bullet-active,
  .swiper-pagination-bullet {
    background: $bg-pink;
  }
  .swiper-button-pagination {
    color: $bg-pink;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 3rem;
    color: $bg-pink;
    background: transparent;
  }
}
