// nav-bar
#nav-bar {
  background: $bg-lighter;
  position: fixed;
  width: 100%;
  min-height: 64px;
  top: 0px;
  border-bottom: 1px solid black;
  z-index: 2;
  .nav-lg {
    display: none; // hides nav > 1000px
  }
  > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    font-weight: bold;
    > a {
      flex: 1 1 100px;
      img {
        height: 46px;
      }
    }
    li {
      flex: 1 1 200px;
      padding: 1rem;
    }
    li a {
      color: $bg-pink;
      border-bottom: 3px solid transparent;
      transition: border-bottom 0.5s;
      padding: 0.3rem;
      font-size: 1.3rem;
      line-height: 2rem;
      &:hover {
        border-bottom: 3px solid $bg-pink;
      }
    }
  }
  .nav-sm {
    display: none; // hides nav > 1000px
  }
  .navbar-menu {
    color: $bg-pink;
    > div {
      height: 64px;
      padding: 0 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .burger {
        flex: 0 1 100px;
        text-align: center;
        padding: 0.3rem;
        font-size: 1.3rem;
        line-height: 2rem;
        cursor: pointer;
        color: $bg-pink;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    ul {
      li {
        a {
          background: $bg-light;
          text-align: center;
          display: inline-block;
          margin-bottom: 1px;
          width: 100%;
          padding: 0.3rem;
          font-size: 1.3rem;
          line-height: 2rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

// splash image
#splash.splash-wrapper {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://firebasestorage.googleapis.com/v0/b/adp-cv.appspot.com/o/home%2Fsunset.jpg?alt=media&token=999208b6-d3c1-40a5-939b-5ba9478581fb")
    no-repeat center;
  background-size: cover;
  height: 50vh;
  h1 {
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 3em;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 0 2rem;
    color: $secondary;
    cursor: default;
  }
}

// welcome text
#welcome {
  background: $bg-light;
  .welcome-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    color: $primary;
    h2 {
      flex: 1 1 200px;
      text-transform: capitalize;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: 0.2rem;
      color: $alt;
      &:before {
        content: "-";
      }
    }
    > p {
      flex: 1 1 800px;
      padding-left: 1rem;
      text-align: justify;
      text-align-last: center;
    }
  }
  .welcome-brief {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    background: $bg-light;
    div {
      flex: 1 1 333px;
      text-align: center;
      padding: 1rem;
      h3 {
        padding-top: 0.5rem;
        text-transform: capitalize;
      }
      p {
        text-align: justify;
        text-align-last: center;
      }
      a {
        font-size: 1.3rem;
        line-height: 2rem;
        color: $bg-pink;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s;
        &:hover {
          border-bottom: 1px solid $bg-pink;
        }
        .fa-icon {
          margin-right: 0.3rem;
        }
      }
    }
    .icon {
      color: $alt;
      font-size: 10rem;
      border: 1rem solid rgba($alt, 0.2);
      border-radius: 50px;
      padding: 1rem;
    }
  }
}

// story
#story {
  background: $bg-lighter;
}
.story-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
  height: 50vh;
  min-height: fit-content;
  .pic {
    flex: 1 1 500px;
    background: url("../../assets/adam4.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 300px;
  }
  .intro {
    flex: 1 1 500px;
    background: $bg-lighter;
    color: $primary;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

    > h2 {
      text-align: center;
      text-transform: capitalize;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: 0.2rem;
      color: $alt;
      &:before {
        content: "-";
      }
    }
    p {
      text-align: justify;
      text-align-last: center;
    }
  }
}

//skills
#skills {
  background: $bg-light;
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    background: $bg-light;
    color: $primary;
    line-height: 2rem;
    font-size: 1.3rem;
    .intro-header {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
      padding-top: 2rem;
      color: $primary;
      h2 {
        flex: 1 1 200px;
        text-transform: capitalize;
        font-variant: small-caps;
        font-weight: bold;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        color: $alt;
        &:before {
          content: "-";
        }
      }
      > p {
        text-align: justify;
        text-align-last: center;
        flex: 1 1 800px;
      }
    }
    .fa-icon-skill {
      margin: 0 auto;
      color: $alt;
      font-size: 10rem;
      border: 1rem solid rgba($alt, 0.2);
      border-radius: 50px;
      padding: 1rem;
    }
    .skill-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      background: $bg-lighter;
      padding: 0.5rem;
      margin-bottom: 0.2rem;
      .fa-icon {
        flex: 0 0 60px;
        font-size: 3rem;
        color: $alt;
        border: 0.2rem solid rgba($alt, 0.2);
        border-radius: 10px;
        padding: 0.3rem;
      }
      .skill-text {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        font-size: 1rem;
        h3 {
          color: $alt;
          font-size: 1.3rem;
        }
        p {
          text-align: justify;
          text-align-last: center;
        }
      }
    }
  }
}

//splash image adam cliveden
.splash-wrapper {
  background: url("https://firebasestorage.googleapis.com/v0/b/adp-cv.appspot.com/o/home%2Fsunset2.jpg?alt=media&token=fd02ff31-a3aa-4f42-866f-aba0d5d1188a")
    no-repeat center;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 400px;
}

// works
#works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 1200px;
  margin: 0 auto;
  background: $bg-lighter;
  .my-work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    color: $primary;
    h2 {
      flex: 1 1 200px;
      text-transform: capitalize;
      font-variant: small-caps;
      font-weight: bold;
      font-size: 3rem;
      letter-spacing: 0.2rem;
      color: $alt;
      &:before {
        content: "-";
      }
    }
    p {
      flex: 1 1 800px;
      padding-left: 1rem;
      text-align: center;
      a{
        color: $bg-pink;
        text-decoration: underline;
        text-decoration-color: transparent;
        &:hover {
          text-decoration: underline;
        }
    
      }
    }
  }
}

// scroll-wrapper
#scroll-wrapper {
  max-width: 1200px;
  padding: 0 2rem;
  .frame {
    padding: 2rem 2.5rem;
    text-align: center;
    height: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    img {
      cursor: pointer;
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 0 0 10px 5px $bg-pink;
      &:hover {
        transform: scale(1.1);
        overflow: hidden;
      }
    }
    h4 {
      padding-top: 1.5rem;
      color: $bg-pink;
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: transparent;
      &:hover {
        text-decoration: underline
      }
    }
    h5 {
      color: $alt;
      text-transform: capitalize;
      font-variant: small-caps;
  
    }
    p {
      padding-top: 1.5rem;
      font-size: 1.1rem;
      line-height: 1.3rem;
    }
    .skills-icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      .fa-icon {
        font-size: 2rem;
        margin: 0.1rem 0.4rem;
      }
    }
  }
  .swiper-pagination-bullet-active,
  .swiper-pagination-bullet {
    background: $bg-pink;
  }
  .swiper-button-pagination {
    color: $bg-pink;
  }
  .swiper-button-next,
  .swiper-button-prev {
    font-size: 3rem;
    color: $bg-pink;
    background: transparent;
  }
}

//footer
#footer {
  text-align: center;
  border-top: 1px solid black;
  min-height: 40px;
  padding: 1rem 2rem;
  text-align: center;
  a {
    font-size: 1.3rem;
    line-height: 2rem;
    color: $bg-pink;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.5s;
    &:hover {
      border-bottom: 3px solid $bg-pink;
    }
  }
}

// navigation *********NOT USED************
header {
  position: relative;
  background: $white;
  box-shadow: 0 0 5px 0 rgba($dark, 0.5);
  z-index: 10;

  h3 {
    display: inline-block;
  }

  ul {
    float: right;
    text-align: right;

    li {
      margin-top: 4px;
      margin-left: 6px;
      a {
        display: block;
        padding: 5px;
      }
    }
  }

  @media screen and (max-width: 742px) {
    h3 {
      display: block;
      text-align: center;
    }
    ul {
      float: none;
      text-align: center;
    }
  }
}
